<div class="row">
    <div class="col-md-4 col-sm-5">
        <jhi-music-sidebar [playLists]="playLists"></jhi-music-sidebar>
    </div>
    <div class="col-md-8 col-sm-7">
            <div>TODO CREATE AND ADD PLAYLIST COMPONENT HERE</div>
            <div>TODO CREATE AND ADD PLAYLIST COMPONENT HERE</div>
            <div>TODO CREATE AND ADD PLAYLIST COMPONENT HERE</div>
            <div>TODO CREATE AND ADD PLAYLIST COMPONENT HERE</div>
            <div>TODO CREATE AND ADD PLAYLIST COMPONENT HERE</div>
            <div>TODO CREATE AND ADD PLAYLIST COMPONENT HERE</div>
            <div>TODO CREATE AND ADD PLAYLIST COMPONENT HERE</div>
            <div>TODO CREATE AND ADD PLAYLIST COMPONENT HERE</div>
            <div>TODO CREATE AND ADD PLAYLIST COMPONENT HERE</div>
    </div>
</div>