.search-container {
    display: 'flex';
    flex-direction: 'row';
    align-items: 'center';
    width: '100%';
    padding: '0';
    height: '45px';
    border-bottom: 1px solid;
    border-color: grey;
    padding: 5px;
    margin-bottom: 10px;
}

.fa-search {
    color: grey;
    width: 25px;
}

input {
    outline: 0;
    color: grey;
    border: none;
    font-size: 16px;
    font-weight: 100;
    flex-grow: 1;
    align-self: stretch;
}
