.search-container {
    display: 'flex';
    flex-direction: 'row';
    align-items: 'center';
    width: '100%';
    padding: '0';
    height: '45px';
    border-bottom: 1px solid;
    border-color: grey;
    padding: 5px;
    margin-bottom: 10px;
}

.fa-search {
    color: grey;
    width: 25px;
}

input {
    outline: 0;
    color: grey;
    border: none;
    font-size: 16px;
    font-weight: 100;
    flex-grow: 1;
    align-self: stretch;
}

.search-results {
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
}

.sub-search-results {
    margin: 10px 0 25px 0;
}

.search-result-title {
    color: grey;
    font-size: 20px;
}

.search-result-tracks {
    max-height: 500px;
    overflow-y: scroll;
}

table {
    width: 100%;
}
th,
td {
    padding: 8px;
    text-align: left;
    max-width: 300px;
}
tbody tr:nth-child(odd) {
    background-color: #dad6da;
}

.no-search-results {
    padding: 5px 0;
}

.selectedTrack {
    background-color: #fcc387;
}
